<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  {% if post.categories %}
    {% assign categories = post.categories %}
    <span class="post-card__label">
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="label"> {{ category }} </a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
  {% endif %}
  <a href="{{ post.url | relative_url }}">

    {% comment %} Extract first image from post content (markdown ![alt](url) or HTML <img src="url">) {% endcomment %}
    {% assign first_img = '' %}
    {% assign md_split = post.content | split: '![' %}
    {% if md_split.size > 1 %}
      {% assign after_bracket = md_split[1] | split: '](' %}
      {% assign url_part = after_bracket[1] | split: ')' %}
      {% assign first_img = url_part[0] | strip %}
    {% else %}
      {% assign html_split = post.content | split: 'src="' %}
      {% if html_split.size > 1 %}
        {% assign url_part = html_split[1] | split: '"' %}
        {% assign first_img = url_part[0] | strip %}
      {% endif %}
    {% endif %}

    {% if first_img != '' %}
      {% comment %} Use first content image as thumbnail (SVG or any format) {% endcomment %}
      <figure class="post-card__thumb">
        <img
          src="{{ first_img | prepend: site.url }}"
          class="lazyload blur"
          alt="{{post.title}}"
          loading="lazy"
        />
        <noscript><img src="{{ first_img | prepend: site.url }}" alt="{{ post.title }}"></noscript>
      </figure>
    {% elsif post.featured-img %}
      <figure class="post-card__thumb">
        <img
          src="https://pyshine.com/assets/img/posts/{{post.featured-img}}_placehold.jpg",
          data-srcset="https://pyshine.com/assets/img/posts/{{post.featured-img}}_thumb.jpg, https://pyshine.com/assets/img/posts/{{post.featured-img}}_thumb@2x.jpg 2x"
          class="lazyload blur"
          alt="{{post.title}}"
        />
        <noscript><img src="https://pyshine.com/assets/img/posts/{{post.featured-img}}_thumb.jpg" alt="{{ post.title }}"></noscript>
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  </a>
  <a class="post-card__inner" href="{{ post.url | relative_url }}">
    <div class="post-card__header">
      <h2>{{ post.title | strip_html | truncate: 80 }}</h2>
      {% assign date_format = site.sleek.date_format | default: "%b %-d, %Y" %}
      <span class="post-card__meta">
        <time>{{ post.date | date: date_format }}</time>
      </span>
    </div>
    {% if post.summary %}
      <p>{{ post.summary | strip_html | truncatewords:40 }}</p>
    {% else %}
      <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
    {% endif %}
  </a>
</div>
