{% if page.comments != false %}
<section class="comments mt-5" aria-label="Comments Section" style="text-align: center; padding: 50px 0; background-color: #fafafa;">
  <div class="giscus" style="max-width: 800px; margin: 0 auto;"></div>
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.giscus.repo }}"
    data-repo-id="{{ site.giscus.repo-id }}"
    data-category="{{ site.giscus.category }}"
    data-category-id="{{ site.giscus.category-id }}"
    data-mapping="{{ site.giscus.mapping }}"
    data-strict="0"
    data-reactions-enabled="{{ site.giscus.reactions-enabled }}"
    data-emit-metadata="{{ site.giscus.emit-metadata }}"
    data-input-position="bottom"
    data-theme="{{ site.giscus.theme }}"
    data-lang="{{ site.giscus.lang }}"
    data-loading="{{ site.giscus.loading }}"
    crossorigin="anonymous"
    async>
  </script>
  <noscript>Enable JavaScript to view comments.</noscript>
</section>
{% endif %}
