<div class="modal" role="dialog" aria-modal="true">
  <div class="modal__inner" role="document" tabindex="-1">
    
    <!-- Modal Content -->
    <div class="modal__content">

      <!-- Close Button -->
      <button class="modal__close-button js-modal-close" aria-label="Close modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <defs>
            <path id="modal-close-icon" d="M12 11.033L7.167 6.2a.684.684 0 1 0-.967.967L11.033 12 6.2 16.833a.684.684 0 0 0 .967.967L12 12.967l4.833 4.833a.684.684 0 1 0 .967-.967L12.967 12 17.8 7.167a.684.684 0 0 0-.967-.967L12 11.033z"/>
          </defs>
          <use xlink:href="#modal-close-icon" fill="currentColor" fill-rule="evenodd"/>
        </svg>
      </button>

      <!-- Modal Body -->
      <div class="modal__body">
        <!-- Content gets injected here dynamically -->
      </div>

    </div>
  </div>

  <!-- Modal Overlay -->
  <div class="modal__overlay"></div>
</div>
