.label {
  padding: 0px 10px;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 20px;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--label-text);
  background-color: var(--label-bg);
  border: 2px solid var(--label-border);
  border-radius: 100px;
  transition: all 0.2s ease;

  &:focus,
  &:hover {
    color: var(--label-hover-text);
    background-color: var(--label-hover-bg);
    border-color: var(--label-hover-bg);
  }
}