---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" itemscope itemtype="http://schema.org/WebPage">

  {% include head.html %}

  <body class="site">
    
    {% if site.google_tag_manager %}
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% if site.google_analytics %}
      <!-- Google Analytics 4 -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-2976211678184829" async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content" itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
      <section class="blog">
        <div class="container">
          <div class="post-list">
            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}
            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>
</html>
